.container{
    .dictionary-btn{
        position: absolute;
        z-index: 0;
        top:100px;
        right: 65px;
        background: url(../assets/Dictionary_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
    }

    .trophy-btn{
        position: absolute;
        z-index: 0;
        top:200px;
        right: 65px;
        background: url(../assets/Trophy_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
    }
}