.container{
    margin: auto;
    width: 100%;
    height: 1000px;
    background:url(../assets/book-bg1.png) no-repeat ;
    background-position: 50% 50%;
    background-size: auto;
}

.wrapper-book{
    margin: 0 auto;
    margin-top: 25px;
    max-width: 1266px;
    height: 100%;
    .page{
        background:url(../assets/page_t.png) no-repeat ; 
        background-size: cover;
        height: 100%;
        top:0;
    }
    .flip-book{

    }
    .--right{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .--left{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
}