.container{
    .dictionary-btn{
        position: absolute;
        z-index: 0;
        top:100px;
        right: 65px;
        background: url(../assets/Dictionary_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
        &:hover{
            top:90px
        }
        &:active{
            top:90px
        }
    }

    .trophy-btn{
        position: absolute;
        z-index: 0;
        top:200px;
        right: 40px;
        background: url(../assets/Trophy_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
        transition: all 0.1S;
        &:hover{
            top:190px
        }
        &:active{
            top:190px
        }
    }

    .home-btn{
        position: absolute;
        z-index: 0;
        top:100px;
        left: 65px;
        background: url(../assets/Home_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
        &:hover{
            top:90px
        }
        &:active{
            top:90px
        }
    }
}