
    .dictionary-btn{
        position: absolute;
        z-index: 40;
        top:100px;
        right: 65px;
        background: url(../assets/Dictionary_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
        transition: top 0.1S;
        &:hover{
            top:90px
        }
        &:active{
            top:90px
        }
    }


    .trophy-btn{
        position: absolute;
        z-index: 40;
        top:200px;
        right: 40px;
        background: url(../assets/Trophy_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
        transition: top 0.1S;
        &:hover{
            top:190px
        }
        &:active{
            top:190px
        }
    }

    .home-btn{
        position: absolute;
        z-index: 40;
        top:100px;
        left: 65px;
        background: url(../assets/Home_bookmark.png);
        background-size: cover;
        width:75px;
        height: 80px;
        transition: top 0.1S;
        &:hover{
            top:90px
        }
        &:active{
            top:90px
        }
    }


.arrow-left, .arrow-right{
    z-index: 1000;
    bottom: 0px;
    position: absolute;
    background: transparent;
    padding: 15px;
    img{
        height: 50px;
        object-fit: contain;
    }
}
.arrow-left{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.arrow-right{
    right: 0;
}

@media (min-width: 768px){
    .arrow-left, .arrow-right{
        display: none;
    }
}


@media (max-width: 767px) {
    .arrow-left, .arrow-right{
        display: block;
    }
}