.container{
    // margin: auto;
    margin-top: 2vh;
    width: 100vw;
    height: 96vh;
    background:url(../assets/book-bg1.png) no-repeat ;
    background-position: 50% 50%;
    background-size: contain;
    transition: transform 2s;
}

.wrapper-book{
    margin-top: 2.8vh;
    height: 100%;
    padding: 0 30px;
    .flip-book{
        margin: 0 auto;
        height: 94%;
        li.page{
            height: 100%;
            top:0;    
            &:nth-child(2n+1){              
                background:url(../assets/page_t.png) no-repeat ;     
                background-size: cover;             
            }
            &:nth-child(2n){              
                background:url(../assets/page2.png) no-repeat ;     
                background-size: cover;             
            }
            
        }
    }
    .--right{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .--left{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
}

.move-left {
    transition: transform 2s;
    transform: translate(-60em,0);
    -webkit-transform: translate(-60em,0); /** Safari & Chrome **/
    -o-transform: translate(-60em,0); /** Opera **/
    -moz-transform: translate(-60em,0); /** Firefox **/
}
.move-right {
    transition: transform 2s;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Safari & Chrome **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
}