.menu{
    &-main{
        min-width: 80vw;
        max-width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        max-height: 99vh;
        align-items: center;
    }

    &__left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 80%;
        gap:2vh;
    }
    &__list-button{ 
        width: 100%;
        max-height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    &__button{
        display: flex;
        margin: 0 auto;
        // max-height: 25%;
        width: 75%;
        background-image: none; 
        background-color: transparent;

        transition: all 0.1s;
        &:hover{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: bold;
            transform: scale(1.02);

        }
        &:active{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: bold;
            transform: scale(1.02);
        }
    }

    &__list-logo{
        flex-direction: row;
        max-height: 50%;
        width: 90%;
        display: flex;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        gap:20px;
        .menu__logo-bottom{
            max-height: 60%;
            max-width: 40%;
            object-fit: contain;
        }
        &-dop{
            max-height: 55%;
            min-width: 60%;
            display: flex;
            gap: 30px;
            justify-content:center;
            align-items:center;
            .menu__logo{
                max-height: 100%;
                width: 50%;
                object-fit: contain;
            }
        }
    }




    &__right{
        display: flex;
        position: relative;
        align-items:center;
        width: 50%;
        height: 100%;
        img{
            max-height: 100%;
            object-fit: contain; 
            min-width: 100%;
            display: block;
        }
        figcaption{
            margin: 0 auto;
            max-height: 50%;
            max-width: 100%;

            text-align: center;
            p{
                max-width: 100%;
                // margin: 0 auto;
                padding-left: 9vw;
                padding-right: 6vw;
            }
        }
        .book{
            position: absolute;
            color: #FFDF6D;
            text-shadow: 4px 4px 0px #000000;
                    
            text-align: center;
            font-style: normal;
        }
    }
}

//Стили для кнопок главного меню 
.menu__button-left{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center ;
    width: 100%;
    max-height: 100%;
    margin:auto;
    .menu__left-img{
        display: block;
        max-height: 100%;
        min-width: 100%;
        object-fit: contain;
    }
    figcaption{
        position: absolute;
    }
}

.double-btn{
    display: flex;
    width: 75%;
    margin: 0 auto;
    gap: 2%;
    .menu__button{
        width: 48%;
    }
}
.aboutUs-btn{
    width: 48%*75/100;
}

.footer{
    position: absolute;
    bottom: 2px;
    z-index: 500;
    text-align: center;
    width: 100vw;
}



@media (min-width: 3000px){
    .menu{
        &__list-logo{
            .menu__logo-bottom{
                min-width: 30%;
            }
        }
    }
}



@media (min-width: 768px){
    .menu-main{
        display: flex;
    }
    .menu-main-mobile{
        display: none;
    }
}


@media (max-width: 767px) {

    .menu-main{
        display: none;
    }
    
    .menu-main-mobile{
        width: 100vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-height: 99vh;
        align-items: center;
        justify-content: flex-start;
    }
    .menu__right-img{
        margin-bottom: 10px;
    }
    .menu__list-logo-mobile{
        display: flex;
        flex-direction: row;
        width: 100%;
        max-height: 10%;
        justify-content: space-evenly;
        gap: 10px;
        align-items:stretch;
        padding: 10px 15px;
        img{
            object-fit: contain;
            max-height: 100%;
            max-width: 30%;
        }
        .menu__logo{
            &-first{
                max-width: 28%;
            }
            &-second{
                margin-left: 8px;
                max-width: 38%;
            }
            &-third{
                max-width: 26%;
            }
        }
    }

    .mobile-img{
        display: flex;
        position: relative;
        align-items:center;
        width: 110%;
        max-height: 75%;
        img{
            max-height: 100%;
            object-fit: contain; 
            min-width: 100%;
            display: block;
        }
        figcaption{
            margin: 0 auto;
            max-height: 95%;
            width: 100%;
            text-align: center;
            p{
                margin: 0 auto;
                max-width: 310px;
                padding-left: 5vw;
                padding-right: 2vw;
            }
        }
        .book{
            position: absolute;
            color: #FFDF6D;
            text-shadow: 4px 4px 0px #000000;
                    
            text-align: center;
            font-style: normal;
        }
    }

    .mobile-button{
        width: 100%;
        max-height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap:10px;
        margin-bottom: 10px;
        .menu__button{
            .menu__button-left{ 
                width: 80%;
            }
        }
        .menu__left-img{
            display: block;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
    .double-btn{
        display: flex;
        width: 95%;
        margin: 0 auto;
        .menu__button{
            width: 35%;
            .menu__button-left{
                width: 100%;
                .menu__left-img{
                    display: block;
                    height: 34px;
                    object-fit: fill;
                }
            }
        }
    }
    .footer{
        bottom:-3px;
    }


    $size-footer:  10px;
    $size-very-small:  14px;
    $size-small:       16px;
    $size-medium:      17px;
    $size-high:        20px;
    $size-large:       22px;
    $size-trophy:      40px;
    $size-continued:   100px;
    $size-menu-main:   35px;
    $size-menu-button: 16px;
    .text{
        &-footer{
            @include text-size(normal, 400, $size-footer, 20px);
            letter-spacing: 2px;
        }
        &-very-small{
            @include text-size(normal, 400, $size-very-small, $size-very-small*1.2);
        }
        &-small{
            @include text-size(normal, 400, $size-small, $size-small*1.2);
        }
        &-medium{
            @include text-size(normal, 400, $size-medium, $size-medium*1.2);
        }
        &-high{
            @include text-size(normal, 400, $size-high, $size-high*1.2);
        }
        &-large{
            @include text-size(normal, 400, $size-large, $size-large*1.2);
        }
        &-trophy{
            @include text-size(normal, 400, $size-trophy, $size-trophy*1.2);
        }
        &-continued{
            @include text-size(normal, 400, $size-continued, $size-continued*1.2);
        }
        &-menu-main{
            @include text-size(normal, 400, $size-menu-main, $size-menu-main*1.2);
            text-shadow: 4px 4px 0px #000000;  
        }
        &-menu-button{
            @include text-size(normal, 400, $size-menu-button, $size-menu-button);
        }
    }

}

