.button-select{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;

    margin:auto;
    &-img{
        display: block;
        width: 100%;
        object-fit: contain;
    }
    &-text{
        position: absolute;
        padding: 0 15px;

    }
}

@media (max-width: 767px) {
    

    .button-select{
        padding: 20px 0px;
        &-img{
            width: 120%;
        }
        &-text{
            padding: 5px 5px;
        }
    }
}