@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import 'book.scss';
@import 'content.scss';
@import 'textSize';

.wrapper{
    width: 100%;
    min-height: 100%;
    font-family: 'Marck Script', cursive;
    background:url(../assets/bg.png)  black no-repeat ;
    background-size: cover;
    overflow: hidden;
}
.menu{
    display: block;
    max-width: 1438px;
    margin: 0 auto;
    padding-top: 10px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    
    &__left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list-button{
        margin-top: 148px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__button{
        width: 528px;
        height: 108px;
        align-items: center;
        background: url(../assets/bg-button.png);
        border-radius: 30px;
        &-active{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: bold;
        }
    }

    &__list-logo{
        margin-top: 67px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:35px
    }

    &__right{
        display: flex;
        width: 701px;
        margin-left: 35px;
        height: 878px;
        align-items:center;
        background: url(../assets/book-cover.png);
        .book{
            color: #FFDF6D;
            text-shadow: 4px 4px 0px #000000;
            width: 453px;
            height: 328px;          
            text-align: center;
            font-style: normal;
            margin-left: 151px;
            margin-right: 97px;
        }
    }
}

.btn-test{
    position: absolute;
    top:10px;
    left:10px;
    padding: 20px 40px;
}