@mixin text-size($font-style: normal, $font-weight:400, $font-size:26px, $line-height:32px) {
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}


$size-very-small:  22px;
$size-small:       24px;
$size-medium:      26px;
$size-high:        28px;
$size-large:       30px;
$size-trophy:      52px;
$size-continued:   100px;
$size-menu-main:   45px;
$size-menu-button: 28px;


.text{
    &-very-small{
        @include text-size(normal, 400, $size-very-small, 27.5px);
    }
    &-small{
        @include text-size(normal, 400, $size-small, 29.98px);
    }
    &-medium{
        @include text-size(normal, 400, $size-medium, 32.47px);
    }
    &-high{
        @include text-size(normal, 400, $size-high, 35px);
    }
    &-large{
        @include text-size(normal, 400, $size-large, 37.47px);
    }
    &-trophy{
        @include text-size(normal, 400, $size-trophy, 65px);
    }
    &-continued{
        @include text-size(normal, 400, $size-continued, 70.47px);
    }
    &-menu-main{
        @include text-size(normal, 400, $size-menu-main, 56px);
        text-shadow: 4px 4px 0px #000000;  
    }
    &-menu-button{
        @include text-size(normal, 400, $size-menu-button, 30px);
    }
}


/* Large desktops and laptops */
//4K
@media (min-width: 3800px) {
    $size-very-small:  50px;
    $size-small:       60px;
    $size-medium:      65px;
    $size-high:        70px;
    $size-large:       80px;
    $size-trophy:      40px;
    $size-continued:   80px;
    $size-menu-main:   120px;
    $size-menu-button: 70px;
    .text{
        &-very-small{
            @include text-size(normal, 400, $size-very-small, $size-very-small*1.2);
        }
        &-small{
            @include text-size(normal, 400, $size-small, $size-small*1.2);
        }
        &-medium{
            @include text-size(normal, 400, $size-medium, $size-medium*1.2);
        }
        &-high{
            @include text-size(normal, 400, $size-high, $size-high*1.2);
        }
        &-large{
            @include text-size(normal, 400, $size-large, $size-large*1.2);
        }
        &-trophy{
            @include text-size(normal, 400, $size-trophy, $size-trophy*1.2);
        }
        &-continued{
            @include text-size(normal, 400, $size-continued, $size-continued*1.2);
        }
        &-menu-main{
            @include text-size(normal, 400, $size-menu-main, $size-menu-main*1.2);
            text-shadow: 4px 4px 0px #000000;  
        }
        &-menu-button{
            @include text-size(normal, 400, $size-menu-button, $size-menu-button*1.2);
        }
    }
    .page-content{
        .img-letter{
            &-small{
                margin-right: 15px;
                width: 120px;
            }
            &-high{
                margin-right: 15px;
                width: 120px;
            }
        }
    }

}

//QHD
@media (min-width: 2500px) and (max-width: 3799px) {
    $size-very-small:  32px;
    $size-small:       34px;
    $size-medium:      36px;
    $size-high:        38px;
    $size-large:       40px;
    $size-trophy:      42px;
    $size-continued:   100px;
    $size-menu-main:   65px;
    $size-menu-button: 40px;
    .text{
        &-very-small{
            @include text-size(normal, 400, $size-very-small, $size-very-small*1.2);
        }
        &-small{
            @include text-size(normal, 400, $size-small, $size-small*1.2);
        }
        &-medium{
            @include text-size(normal, 400, $size-medium, $size-medium*1.2);
        }
        &-high{
            @include text-size(normal, 400, $size-high, $size-high*1.2);
        }
        &-large{
            @include text-size(normal, 400, $size-large, $size-large*1.2);
        }
        &-trophy{
            @include text-size(normal, 400, $size-trophy, $size-trophy*1.2);
        }
        &-continued{
            @include text-size(normal, 400, $size-continued, $size-continued*1.2);
        }
        &-menu-main{
            @include text-size(normal, 400, $size-menu-main, $size-menu-main*1.2);
            text-shadow: 4px 4px 0px #000000;  
        }
        &-menu-button{
            @include text-size(normal, 400, $size-menu-button, $size-menu-button*1.2);
        }
    }

}

//FHD
@media (min-width: 1800px) and (max-width: 2499px) {
    $size-very-small:  22px;
    $size-small:       24px;
    $size-medium:      26px;
    $size-high:        28px;
    $size-large:       30px;
    $size-trophy:      52px;
    $size-continued:   100px;
    $size-menu-main:   45px;
    $size-menu-button: 28px;


.text{
    &-very-small{
        @include text-size(normal, 400, $size-very-small, 27.5px);
    }
    &-small{
        @include text-size(normal, 400, $size-small, 29.98px);
    }
    &-medium{
        @include text-size(normal, 400, $size-medium, 32.47px);
    }
    &-high{
        @include text-size(normal, 400, $size-high, 35px);
    }
    &-large{
        @include text-size(normal, 400, $size-large, 37.47px);
    }
    &-trophy{
        @include text-size(normal, 400, $size-trophy, 65px);
    }
    &-continued{
        @include text-size(normal, 400, $size-continued, 70.47px);
    }
    &-menu-main{
        @include text-size(normal, 400, $size-menu-main, 56px);
        text-shadow: 4px 4px 0px #000000;  
    }
    &-menu-button{
        @include text-size(normal, 400, $size-menu-button, 30px);
    }
}
}

//HD+
@media (min-width: 1500px) and (max-width: 1799px) {

    $size-very-small:  18px;
    $size-small:       20px;
    $size-medium:      22px;
    $size-high:        24px;
    $size-large:       26px;
    $size-trophy:      48px;
    $size-continued:   100px;
    $size-menu-main:   41px;
    $size-menu-button: 26px;
    .text{
        &-very-small{
            @include text-size(normal, 400, $size-very-small, $size-very-small*1.2);
        }
        &-small{
            @include text-size(normal, 400, $size-small, $size-small*1.2);
        }
        &-medium{
            @include text-size(normal, 400, $size-medium, $size-medium*1.2);
        }
        &-high{
            @include text-size(normal, 400, $size-high, $size-high*1.2);
        }
        &-large{
            @include text-size(normal, 400, $size-large, $size-large*1.2);
        }
        &-trophy{
            @include text-size(normal, 400, $size-trophy, $size-trophy*1.2);
        }
        &-continued{
            @include text-size(normal, 400, $size-continued, $size-continued*1.2);
        }
        &-menu-main{
            @include text-size(normal, 400, $size-menu-main, $size-menu-main*1.2);
            text-shadow: 4px 4px 0px #000000;  
        }
        &-menu-button{
            @include text-size(normal, 400, $size-menu-button, $size-menu-button*1.2);
        }
    }

    .page-content{
        .img-letter{
            &-small{
                margin-right: 4px;
                width: 40px;
            }
            &-high{
                margin-right: 4px;
                width: 40px;
            }
        }
    }

}

//HD
@media (min-width: 992px) and (max-width: 1499px) {
    $size-very-small:  16px;
    $size-small:       17px;
    $size-medium:      18px;
    $size-high:        22px;
    $size-large:       24px;
    $size-trophy:      40px;
    $size-continued:   80px;
    $size-menu-main:   41px;
    $size-menu-button: 22px;
    .text{
        &-very-small{
            @include text-size(normal, 400, $size-very-small, $size-very-small*1.1);
        }
        &-small{
            @include text-size(normal, 400, $size-small, $size-small*1.1);
        }
        &-medium{
            @include text-size(normal, 400, $size-medium, $size-medium*1.1);
        }
        &-high{
            @include text-size(normal, 400, $size-high, $size-high*1.1);
        }
        &-large{
            @include text-size(normal, 400, $size-large, $size-large*1.2);
        }
        &-trophy{
            @include text-size(normal, 400, $size-trophy, $size-trophy*1.2);
        }
        &-continued{
            @include text-size(normal, 400, $size-continued, $size-continued*1.2);
        }
        &-menu-main{
            @include text-size(normal, 400, $size-menu-main, $size-menu-main*1.2);
            text-shadow: 4px 4px 0px #000000;  
        }
        &-menu-button{
            @include text-size(normal, 400, $size-menu-button, $size-menu-button*1.1);
        }
    }

    .page-content{
        .img-letter{
            &-small{
                margin-right: 3px;
                width: 38px;
            }
            &-high{
                margin-right: 3px;
                width: 35px;
            }
        }
    }
}

//Portrait tablets and small desktops 
@media (min-width: 768px) and (max-width: 991px) {
    
    
}



